.header {
    display: flex;
    justify-content: space-between  ;
    border-bottom: 1px solid black;
    height: 120;
}

.Logo > img {    
    padding: 5px;
    width: 100px;
    height: 100px;
    }

.NAV-items >ul {
    display: flex;
    list-style: none;
    font-size: 20px;
}

.NAV-items > ul > li {
    padding-left: 10px;
    margin: 10px;
    font-size: 70;
    padding:5px 5px;
    font-size: 20px;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid darkgrey;
}

.res-card {
    font-size: 15px;
    width: 10%;
    text-align: center;
    background-color: rgb(231, 229, 227);
    padding: 2px 2px 2px;
    margin: 20px;
}


.Rating {
    text-align: right;
    
}

.DeliveryTime {
    text-align: right;
    
}

.DeliveryCost {
    text-align: right;
    
}

.Cardtext {
    padding: 8px 8px 8px;
}

.SearchBar {
    font-size: 20px;
    padding: 2px 2px 2px;
}

.res-logo {
    padding: 2px 2px 2px;
    max-width: 90%;
    max-height: 100%
}

.ResCardsContainer {
    display: flex;
    flex-wrap: wrap;
}

.filter-btn {    
    margin: 10px;
    cursor: pointer;    
}

.filter {
    display: flex;
}

.searchBar > input {
    margin: 5px;
    padding: 2px;
    font-size: 15px;
}

.searchBar > button {
    cursor: pointer;
    margin: 1px;  
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-cards {
    margin: 20px;
    background-color: rgb(231, 229, 227);
    width: 200px;
    height: 300px;  

}

.login-btn {
    padding: 0 20px;
    cursor: pointer;
}



